.cajacookies {
    display: flex;
    justify-content: space-around;
    background-color: rgba(255, 0, 0, 0.808);
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 300;
    padding: 10px;
  }
  

  .cajacookies a {
      text-decoration: none;
      color: white;
      font-weight: bold;
  }

  .cajacookies a:hover {
      text-decoration-line: underline;
  }

  .button3 {
      background-color: rgba(255, 255, 255, 0);
      padding: 10px;
    color: white; 
    border: 2px solid #ffffff;
    margin: 0 20px;
}

.button3:hover {
    background-color: #ffffff;
    color: red;
}

@media screen and (max-width: 650px) {
    .button3 {
        width: 100%;
        margin: 5px auto;
    }
}